.container
  .hero-unit
    %h1 About me
    %p
      %img{:src => @image_src}
    %p My name is Klaus Hebsgaard
    %p I am a christian developer from Denmark. 
    %p “Don’t take life so serious, son, it ain’t nohow permanent.”  Walt Kelly
